
nav{
    width: 100%;
    height: 50px;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    z-index: 999;
    border-bottom: 1px solid #222;
}

.topLeft, .topRight{
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

#topIcon{
    font-size: 20px;
  margin-right: 10px;
  color: #444;
  cursor: pointer;
}


.topList {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
  }


  .mobile-menu-icon{
    display: none;
  }


  .topListItem {
    margin-right: 20px;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
    text-decoration: none;
    color: #222;
  }
  #topListItem{
    text-decoration: none;
    color: #222;
  }

  .topListItem:hover{
      color: gray;
  }
  .topImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
    cursor: pointer;

  }

  .navbar-bottom{
    display: none;
  }
  .copyright-text{
    display: none;
  }

  @media (max-width: 768px) {
    .topList {
        display: none;
      }

      .nav-links-mobile{
        position: absolute;
        display: block;
        list-style: none;
        align-items: center;
        box-shadow: rgba(50, 50, 93, 0.23) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
        left: 0;
        transition: all 0.5s ease-in-out;
        width: 100%;
        background-color: black;
        color: #222;
        height: 100vh;
        top: 0;
      }
      .topListItem{
        display: flex;
        justify-content: center;
        gap: 10px;
      }
      .top{
        width: 100%;
        text-align: center;
      }
      .bottom{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        padding: 30px;
        cursor: pointer;

      }
      .copyright-text{
        text-align: center;
        display: block;
        font-size: 25px;
        margin-top: 15px;
      }


      .navbar-bottom{
        display: block;
        border-block: 1px solid orange;
        cursor: pointer;
        margin-top: 200px;
        padding: 20px;
      }
      .profile-card{
        font-size: 15px;
        font-weight: 400;
      }
      .mobile-menu-icon {
        position: absolute;
        display: block;
        right: 20px;
        outline: none;
        border: none;
        background: transparent;
        color: #222;
        font-size: 26px;
      }

  }